<section id="gtco-about" data-section="about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>The Kairos Project</h1>
        <p class="sub">We are changing the way technology interacts with you, making it even smarter and accommodated to your necessities.</p>
      </div>
    </div>
    <div class="about text-center">
      <div class="col-md-4">
        <div class="row icon">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </div>       
        <div class="row title">
            <p>Context Separation</p>          
        </div>       
        <div class="row description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam congue consectetur.</p>          
        </div>       
      </div>
      <div class="col-md-4">
          <div class="row icon">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
          </div>       
          <div class="row title">
              <p>Statistics</p>          
          </div>       
          <div class="row description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam congue consectetur.</p>          
          </div>       
        </div>
        <div class="col-md-4">
            <div class="row icon">
                <i class="fa fa-flag-checkered" aria-hidden="true"></i> 
            </div>       
            <div class="row title">
                <p>Goals</p>          
            </div>       
            <div class="row description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam congue consectetur.</p>          
            </div>       
          </div>
      </div>
    <!-- <div class="row text-center icons">
      <div class="col-sm-4 col-md-4">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </div>
      <div class="col-sm-4 col-md-4">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
      </div>
      <div class="col-sm-4 col-md-4">
        <i class="fa fa-flag-checkered" aria-hidden="true"></i>            
      </div>
    </div>
    <div class="row text-center title">
      <div class="col-sm-4 col-md-4">
        <p>Context Separation</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Statistics</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Goals</p>            
      </div>
    </div>
    <div class="row description">
      <div class="col-sm-4 col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam congue consectetur.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Fusce ornare, quam vitae volutpat finibus, ligula nunc pretium leo, et hendrerit turpis dolor nec augue.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <p>Pellentesque tempus accumsan massa, ac pharetra quam dignissim at. Donec quis rutrum nulla</p>            
      </div>
    </div>
  </div> -->
</section>