<section id="gtco-about" data-section="about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>The Kairos Project</h1>
        <p class="sub">We are changing the way technology interacts with you, making it even smarter and accommodated to your necessities.</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Karios</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <div class="img-shadow">
          <img src="images/launcher_logo.jpg" class="img-responsive" alt="Kairos Launcher Logo">
        </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">Kairos Launcher</h2>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit et tellus volutpat varius. Praesent
            eget augue ut quam feugiat efficitur. Cras ut tincidunt justo, sit amet vulputate felis. Suspendisse fringilla mattis
            luctus. Cras molestie turpis eget sapien laoreet, in tristique nunc feugiat. Donec ac orci ornare, tincidunt enim
            quis, lobortis metus. Nullam interdum finibus justo ut ultricies. Curabitur id tristique ipsum. In a gravida diam,
            id bibendum odio. Proin auctor, risus sit amet pharetra semper, mauris sapien tempus enim, quis congue urna dolor
            sed mi. Integer a tellus rhoncus, rhoncus eros id, vulputate turpis.</p>

          <p>Duis a erat pellentesque, ullamcorper nisi ut, sagittis nisl. Sed sed ipsum condimentum arcu hendrerit ullamcorper.
            Maecenas faucibus vel ex id cursus. Fusce lobortis, est quis porttitor luctus, quam magna convallis risus, non ornare
            nulla ex vitae lacus. Cras maximus nisi at auctor vulputate. Praesent porta sit amet massa in tristique. Quisque elementum,
            ipsum non mattis congue, neque arcu varius dolor, a vestibulum neque lectus sit amet enim. Nulla turpis risus, luctus
            venenatis diam a, elementum vehicula massa. Proin vel rhoncus massa.</p>
        </div>
        <a href="#" class="read-more">Read more
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        </p>
      </div>
    </div>
  </div>
</section>