<section id="gtco-about" data-section="about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>{{ i18n "about_title" }}</h1>
        <p class="sub">{{ i18n "about_description" }}</p>
      </div>
    </div>
    <div class="about text-center">
      <div class="col-md-4">
        <div class="row icon">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </div>
        <div class="row title">
          <p>{{ i18n "about_feature1" }}</p>
        </div>
        <div class="row description">
          <p>{{ i18n "about_feature_description1" }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row icon">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="row title">
          <p>{{ i18n "about_feature2" }}</p>
        </div>
        <div class="row description">
          <p>{{ i18n "about_feature_description2" }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row icon">
          <i class="fa fa-flag-checkered" aria-hidden="true"></i>
        </div>
        <div class="row title">
          <p>{{ i18n "about_feature3" }}</p>
        </div>
        <div class="row description">
          <p>{{ i18n "about_feature_description3" }}</p>
        </div>
      </div>
    </div>
</section>
