<section id="gtco-hero" class="gtco-cover" style="background-image: url(images/bg.jpg);" data-section="home" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc">
            <h1 class="animate-box title" data-animate-effect="fadeIn">
              <b>Kairos</b> Corporation</h1>
            <h2 class="animate-box subtitle" data-animate-effect="fadeIn">
              <em>Right tools at the right time.</em>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>