<footer id="gtco-footer" role="contentinfo">
  <div class="container">    
    <div class="row">
        <div class="col-md-6 copyright">
            <div>2017 &copy; Copyright by Kairos</div>
        </div>
        <div class="col-md-6 social-links">
            <a class="btn btn-primary btn-sm social-link" target="_blank" href="#"><i class="fa fa-twitter fa-fw"></i></a>
            <a class="btn btn-primary btn-sm social-link" target="_blank" href="#"><i class="fa fa-github fa-fw"></i></a>
        </div>
    </div>
</footer>
