<footer id="gtco-footer" role="contentinfo">
  <div class="container">
    <div class="row">
        <div class="col-md-6 copyright">
            <div>{{ i18n "footer_copyright" }}</div>
        </div>
        <div class="col-md-6 social-links">
          {{ range $.Site.Home.AllTranslations }}
            {{ if ne $.Site.Language.Lang .Language.Lang }}
              <a class="btn btn-primary btn-sm social-link" href="/{{ .Language.Lang }}"><i class="fa fa-globe fa-fw"></i></a>
            {{ end }}
          {{ end }}
        </div>
    </div>
</footer>
