<div class="col-sm-4 col-md-4 col-lg-4 animate-box team-member" data-animate-effect="fadeInLeft">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div class="team-img vcenter img-responsive" style="background-image: url({{ .Photo }})"></div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7">
      <h3 class="name">{{ .Name }}</h3>
      <div class="position">{{ .Job }}</div>
      <ul class="socials">
        {{ if .Linkedin }}
          <li>
            <a href="#">
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
          </li>
        {{ end }}
        {{ if .Twitter }}
          <li>
            <a href="#">
              <i class="fa fa-twitter fa-lg"></i>
            </a>
          </li>
        {{ end }}
        {{ if .Github }}
          <li>
            <a href="#">
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
