<div class="col-sm-4 col-md-4 col-lg-4 animate-box team-member" data-animate-effect="fadeInLeft">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div class="team-img vcenter img-responsive" style="background-image: url({{ .Photo }})"></div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7">
      <h3 class="name">{{ .Name }}</h3>
      <div class="position">{{ .Job }}</div>
      <ul class="socials">
        <li>
          <a href="#">
            <i class="fa fa-facebook fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
