<nav class="gtco-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div id="gtco-logo">
          <a href="index.html">Kairos</a>
        </div>
      </div>
      <div class="col-xs-10 text-right menu-1 main-nav">
        <ul>
          <li class="active">
            <a href="#" data-nav-section="home">Home</a>
          </li>
          <li>
            <a href="#" data-nav-section="about">About</a>
          </li>
          <li>
            <a href="#" data-nav-section="our-team">Our Team</a>
          </li>
          <li class="btn-cta">
            <a href="#" data-nav-section="contact">
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>