<!DOCTYPE HTML>
<html>

{{ partial "header" }}

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<nav class="gtco-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo">
							<a href="index.html">Kairos</a>
						</div>
					</div>
					<div class="col-xs-10 text-right menu-1 main-nav">
						<ul>
							<li class="active">
								<a href="#" data-nav-section="home">Home</a>
							</li>
							<li>
								<a href="#" data-nav-section="about">About</a>
							</li>
							<li>
								<a href="#" data-nav-section="our-team">Our Team</a>
							</li>
							<li class="btn-cta">
								<a href="#" data-nav-section="contact">
									<span>Contact</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</nav>

		<section id="gtco-hero" class="gtco-cover" style="background-image: url(images/bg.jpg);" data-section="home" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center">
						<div class="display-t">
							<div class="display-tc">
								<h1 class="animate-box title" data-animate-effect="fadeIn">
									<b>Kairos</b> Corporation</h1>
								<h2 class="animate-box subtitle" data-animate-effect="fadeIn">
									<em>Right tools at the right time.</em>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="gtco-about" data-section="about">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>The Kairos Project</h1>
						<p class="sub">We are changing the way technology interacts with you, making it even smarter and accommodated to your necessities.</p>
						<p class="subtle-text animate-box" data-animate-effect="fadeIn">Karios</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
						<div class="img-shadow">
							<img src="images/launcher_logo.jpg" class="img-responsive" alt="Kairos Launcher Logo">
						</div>
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="heading-colored">Kairos Launcher</h2>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit et tellus volutpat varius. Praesent
							eget augue ut quam feugiat efficitur. Cras ut tincidunt justo, sit amet vulputate felis. Suspendisse fringilla mattis
							luctus. Cras molestie turpis eget sapien laoreet, in tristique nunc feugiat. Donec ac orci ornare, tincidunt enim
							quis, lobortis metus. Nullam interdum finibus justo ut ultricies. Curabitur id tristique ipsum. In a gravida diam,
							id bibendum odio. Proin auctor, risus sit amet pharetra semper, mauris sapien tempus enim, quis congue urna dolor
							sed mi. Integer a tellus rhoncus, rhoncus eros id, vulputate turpis.</p>

						<p>Duis a erat pellentesque, ullamcorper nisi ut, sagittis nisl. Sed sed ipsum condimentum arcu hendrerit ullamcorper.
							Maecenas faucibus vel ex id cursus. Fusce lobortis, est quis porttitor luctus, quam magna convallis risus, non ornare
							nulla ex vitae lacus. Cras maximus nisi at auctor vulputate. Praesent porta sit amet massa in tristique. Quisque elementum,
							ipsum non mattis congue, neque arcu varius dolor, a vestibulum neque lectus sit amet enim. Nulla turpis risus, luctus
							venenatis diam a, elementum vehicula massa. Proin vel rhoncus massa.</p>
						<a href="#" class="read-more">Read more
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- 
		<section id="gtco-our-team" data-section="our-team">

		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Our Team</h1>
					<p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn">Our Team</p>
				</div>
			</div>
			<div class="row team-item gtco-team-reverse">
				<div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">
					<div class="img-shadow">
						<img src="images/img_team_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
					<h2>Jeff Finley</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores, voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi? Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
					<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>
				</div>
			</div>

			<div class="row team-item gtco-team">
				<div class="col-md-6 col-md-pull-1 animate-box"  data-animate-effect="fadeInLeft">
					<div class="img-shadow">
						<img src="images/img_team_2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					<h2>Craig Campbell</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores, voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi? Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus reprehenderit, quae recusandae voluptatibus magnam!</p>
					<p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio, eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam, dolorum excepturi adipisci.</p>
				</div>
			</div>

		</div>

	</section> 
	-->
		<section id="gtco-our-team" class="team" data-section="our-team">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>Team Members</h1>
						<p class="sub">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>
						<p class="subtle-text animate-box" data-animate-effect="fadeIn"></p>
					</div>
				</div>

				<div class="row multi-columns-row">
					<!-- Martinho Aragão -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/martinhoaragao.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Martinho Aragão</h3>
								<div class="position">President &amp; CEO</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Adelino Costa -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-sr-id="28" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/joaofcosta.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Adelino Costa</h3>
								<div class="position">Graphic Designer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Hugo Gonçalves -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/Hugainz.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Hugo Gonçalves</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Francisco Ribeiro -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/FranciscoRibeiro.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Francisco Ribeiro</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Carlos Silva -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/CarlosSilva-zd2.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Carlos Silva</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Daniel Tavares -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/dfvt.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Daniel Tavares</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- José Silva -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/jlsilva1994.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">José Silva</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<br>

					<!-- Bruno Azevedo -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/BrunoJAzevedo.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Bruno Azevedo</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Diogo Couto -->
					<div class="col-sm-6 col-md-6 col-lg-6 animate-box team-member" data-animate-effect="fadeInLeft">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-5">
								<div class="team-img vcenter img-responsive" style="background-image: url(https://github.com/djcouto.png)"></div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<h3 class="name">Diogo Couto</h3>
								<div class="position">Programmer</div>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fa fa-facebook fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus fa-lg"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram fa-lg"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
		</section>

		<section id="gtco-contact" data-section="contact">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
						<h1>Contact Us</h1>
						<p class="sub">We are really interested to hear from you, get in touch with the team and don't be a stranger.</p>
						<p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-push-6 animate-box">
						<form action="#">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="text" class="form-control" placeholder="Name" id="name">
							</div>
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="text" class="form-control" placeholder="Email" id="email">
							</div>
							<div class="form-group">
								<label for="message" class="sr-only">Message</label>
								<textarea name="message" id="message" class="form-control" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</form>
					</div>
					<div class="col-md-4 col-md-pull-6 animate-box">
						<div class="gtco-contact-info">
							<ul>
								<li class="address">R. da Universidade, 4710-057 Braga</li>
								<li class="phone">
									<a href="tel://351253604430">+ 351 253 604 430</a>
								</li>
								<li class="email">
									<a href="mailto:contact@kairos.com">contact@kairos.com</a>
								</li>
								<li class="url">
									<a href="#">https://kairoscorp.github.io</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		{{ partial "footer" }}

		</div>

		<div class="gototop js-top">
			<a href="#" class="js-gotop">
				<i class="fa fa-arrow-up" aria-hidden="true"></i>
			</a>
		</div>

		<!-- Main -->
		<script src="js/app.js"></script>
</body>

</html>