@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "justice-theme";


#gtco-hero  {
  .display-tc h1.title {
    font-size: 85px;
    @media screen and (max-width: $screen-sm) {
			font-size: 60px;
		}
  }
  .display-tc h2.subtitle {
    font-size: 35px;
    @media screen and (max-width: $screen-sm) {
			font-size: 25px;
		}
  }
}

.gtco-cover {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  
  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */

  @media screen and (max-width: $screen-sm) {
    width: 100%;
    height: 100%;
  }
}

#gtco-offcanvas {
  background: #f1f1f1;
  width: 50%;
  a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 25px;
  }
}

.gtco-nav-toggle {
  i, i::before, i::after {
    background: $brand-lighter;     
  }
}

.team {
  background-color: #e6e6fa57;
  .row-pb-md {
    padding-bottom: 0px;
  }
  .row {
    text-align: center;
    .team-member {
      padding-bottom: 40px;      
    }.team-img {
      border-radius: 100%;
      width: 200px;
      height: 200px;
      background-size: cover;
      vertical-align: middle;
      display: inline-block;
    }
    h3.name {
      margin: 20px 0 0 0; 
    }
    .socials {
      padding-top: 10px      
    }
    ul {
      padding-left: 0px;
      li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        font-size: 2em;
      }
    }
  }
}

#gtco-footer {
  text-align: center;
  padding-bottom: 30px;
}